.header {
    @apply cursor-pointer flex items-center justify-between border px-4 py-2
}

.icon {
    transition: transform 0.2s;
}

.icon.active {
    transform: rotate(90deg);
}

.description {
    @apply grid min-h-0 grid-rows-[0fr] overflow-hidden transition-[grid-template-rows] duration-300 ease-in-out
}

.description-active {
    @apply grid-rows-[1fr]
}

.description > .accordion-content {
    min-height: 0;
    overflow: hidden;
}
